@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
       /*background-position: center;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        height: 100%;
        font-size: 1.5em;
        width: auto;
        
    
    
        
    }
    .page__logo > span {
        display: none;
    }

}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   .image-responsive{
    display: block;
    width: 100%;
}
.page__header{
    background-image: url(../images/header-2560w.webp);
    background-size: cover;
    background-position: top left;
    padding: 1em;
    min-height: 80vh;
}
.page__logo{
    display: block;
    padding: 1em;
    height: 3em;
    aspect-ratio: 21/12;
    margin: 0 auto;
}

.page__intro{
    color: var(--light, white);
    display: block;
    width: 50em;    
    margin: 22em auto auto 8em;
}

.page__content{
    padding: 1em;
    max-width: 945px;
    margin: 0 auto;
}

.picture-box{
    margin: 0;
}

    .button{
        border: solid;
        border-color: #fffdfd;
        border-radius: .5em;
        padding: 5px 20px ;
        background-color: #fffdfd;
        text-decoration: none;
        color: var(--black, black);
        margin-top: 20px;
        font-weight: bold;
    }
    .button:hover{
        border: solid;
        border-color: #000000;
        border-radius: .5em;
        padding: 5px 20px ;
        background-color: #000000;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
    }


    .button--light{
       background-color:var(--primary);
       border-color:var(--primary);
       margin-top: 20px
    }

.picture-box__caption{
    text-align: center;
    margin-top: 8px;
}
}


.page__header{
    color: white;
    background-image: url(/images/header-2560w.webp);
    background-position: top left;
    background-size: cover;
    min-height: 80vh;
    padding: 1em;
}

.page__intro{
display: block;
width: auto;
max-width: 40em;
    margin: 20em auto auto 6em;
    
}
h1{
    font-size: 3.5em;
    margin-bottom: 0;
}

.page__logo{
    display: block;
height: 3em;
margin: 0 auto;
padding: 1em;
aspect-ratio: 21/12;
}
.page__section--popis{
    padding: 1em;
}
.picture-box{
margin:0 ;
}

.page__section--popis{
    margin:0 ;
}

.page__section--raw{
    border: solid;
    border-color: var(--primary);
    border-width: 3px;
    padding: 20px;
    margin:15px
}

.page__section--nabidka{
    padding: 20px;
}
ul ::marker{
    color:var(--primary)
}


.purchase{
    display: inline-block;
    padding: 1em;
    max-width: 24em;
}
.inline-image-responsive{
    display: inline-block;
    max-width: 24em;
align-self: center;


}
.page__section--max{
    border: solid;
    border-color: var(--gray);
    border-width: 3px;
    padding: 20px;
    margin:15px;
    background-color: var(--gray);
}
.max-header{
text-align: center;
color:white;
font-size: 40px;
font-weight: bolder;
}
.max-text{
    color: white;
    margin-top: -20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.button-max{
    border: solid;
    border-color: #fffdfd;
    border-radius: .5em;
    padding: 5px 20px ;
    background-color: #fffdfd;
    text-decoration: none;
    color: var(--black, black);
    font-weight: bold;
    margin: auto;
}
.button-max:hover{
    border: solid;
    border-color: #000000;
    border-radius: .5em;
    padding: 5px 20px ;
    background-color: #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
}
.strong-max{
    font-size: 2em;
}
.page__section--gallery{
margin:15px
}
.gallery__container{
    justify-content: space-between;
}
.gallery__photo{
display: inline-block;
height: 20vh;
margin: 0;
width: 30vh;
margin-left: 10px;
}

.page__footer{
    background-color: var(--gray);
    background-size: cover;
    color: white;
    text-align: center;
    padding-top:0.2em ;
    padding-bottom: 0.2em;
}

@media only screen and (max-width: 615px) {



    .page__intro{
        color: var(--light, white);
        display: block;
        width: 20em;    
        margin: 10em auto auto 3em;
    }

    .gallery__photo{
        display: inline-block;
        height: 20vh;
        margin: auto;
        width: 30vh;
        margin-left: 10px;
        }
  }
