@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: inline-block;
        background: center / contain no-repeat transparent;
       background-position: center;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/logo.svg");
        height: 1em;
        font-size: 1.5em;
        padding-top: 30px;
        margin-top: 20px;
        width: 100%;
        
    
    
        
    }
    .page__logo > span {
        display: none;
        color: inherit;
        /*padding-top: 30px;*/
    }

}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   
    .button{
        border: solid;
        border-color: #fffdfd;
        border-radius: .5em;
        padding: 5px 20px ;
        background-color: #fffdfd;
        text-decoration: none;
        color: var(--black, black);
        margin-top: 20px;
    }
    .button:hover{
        border: solid;
        border-color: #000000;
        border-radius: .5em;
        padding: 5px 20px ;
        background-color: #000000;
        text-decoration: none;
        color: rgb(255, 255, 255);

    }


    .button--light{
       background-color:var(--primary);
    }
.image-responsive{
    display: block;
    width: 100%;
align-self: center;


}


figcaption{
    text-align: center;
    margin-top: 8px;
}
}

.mmax{
    background-color: #817b7b;
    
    color: white;
    display: block;
    width: 50%;
text-align: center;
align-self: center;
}

.page__header{
    color: white;
    background-image: url(/images/header-2560w.webp);
    background-size: cover;
    height: 70vh;
    padding-bottom: 10px;
}

.page__intro{

    width: 40%;
    margin-top: 20%;
    margin-left: 10%;
}


.hd{
    font-size: 60px;
    margin-bottom: 20px;

}
.reducer{
    text-align: center;
}

/*.page__logo{
    display: inline-block;
padding: 1em;

}*/
